<?xml version="1.0" encoding="utf-8"?>
<!--
  Used ONLY when deployed to Azure App Service on Windows (iisnode).
  For Linux App Service (recommended) this file is ignored.
-->
<configuration>
  <system.webServer>
    <webSocket enabled="true" />

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering removeServerHeader="true">
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".git" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpErrors existingResponse="PassThrough" />

    <iisnode
      nodeProcessCommandLine="node --max-old-space-size=2048"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode" />
  </system.webServer>
</configuration>
